doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(src="/socket.io/socket.io.js")
  body
    
    #app
      h1 app
      div
        //- textarea#proxies(placeholder="Прокси в виде host:port. Для каждой прокси - новая строка.")
        select#sex(name="sex")
          option(value="1") Мужик
          option(value="2") Леди
        select#age(name="age")
          option(value="12") до 18
          option(value="13") 19-21
          option(value="14") 22-24
          option(value="15") 25-29
          option(value="16") 30-34
          option(value="17") 35-39
          option(value="18") 40-44
          option(value="19") 45-49
          option(value="20") 50-54
          option(value="21") 55-60
          option(value="22") 61+
        button#start Start
        a(href="/view", target="_blank") View
        a(href="/download", target="_blank") Download
        button#stop Stop
      span OUTPUT
      textarea#output(readonly)




    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src='demo.js')

    