doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(src="/socket.io/socket.io.js")
  body
    
    #app
      h1 app
      div
        //-form(action="/get", type="POST")
        textarea#users(placeholder="Логины и пароли пользователей в виде user@domain.ru:password. Для каждого пользователя на новой строке.")
        textarea#proxies(placeholder="Прокси в виде host:port. Для каждой прокси - новая строка.")
        button#start Start
        button#init Get init data
        a(href="/toParse.json", target="_blank") Init data
        a(href="/res.json", target="_blank") Result
        a(href="/newToRes.json", target="_blank") Result 2
        button#reset Reset
        button#stop Stop
      span OUTPUT
      textarea#output(readonly)




    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src='script.js')
    