doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='table.css')
  body

    

    #columns
    
    



    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src='script.js')
    script(src='columns.js')
    - var script = 'var json = ' + data
    script!=script
    script.
      $(document).ready(function() {
        $('#columns').columns({data:json});
      });



    