body {
  font-family: 'Trebuchet MS';
}
#app {
  width: 600px;
  margin: 0 auto;
}
#app textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  resize: none;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 1em;
  padding: 10px;
}
#app button {
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
}
#app span {
  margin: 20px 0;
  display: block;
}
#app #output {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 100%;
  height: 200px;
  background-color: #000;
  color: #90ee90;
  font-family: monospace;
}
#app a {
  margin: 0 20px;
}
