body 
	font-family 'Trebuchet MS'
#app 
	width 600px
	margin 0 auto
	textarea 
		display block
		border 1px solid #ccc
		width 100%
		resize none
		height 100px
		box-sizing border-box
		margin-bottom 20px
		font-size 1em
		padding 10px
	button 
		border 1px solid #ccc
		background-color transparent
		cursor pointer
		font-size 1em
		padding 10px
	span
		margin 20px 0
		display block
	#output
		margin-bottom 20px
		border 1px solid #ccc
		width 100%
		height 200px
		background-color black
		color lightgreen
		font-family monospace
	a 
		margin 0 20px